.vscode/
__pycache__
*.pyc
.pytest_cache
arrangeit.code-workspace
htmlcov/
dist
build
arrangeit.egg-info
.coverage
docs/_build
.scannerwork/
_site
tests/unit/coverage*.xml
tests/vm/.vagrant
tests/vm/*.log
tests/functional/log.html
tests/functional/output.xml
tests/functional/report.html
.~lock.sample*