.vscode/
__pycache__
*.pyc
.pytest_cache
arrangeit.code-workspace
htmlcov/
dist
build
arrangeit.egg-info
.coverage
tests/coverage*.xml
docs/_build
.scannerwork/
_site
tests/functional/vm/.vagrant
tests/functional/vm/*.log
tests/functional/robot/log.html
tests/functional/robot/output.xml
tests/functional/robot/report.html